
/* .highlight {
    background: #f6f8fa !important ;
    border: 1px solid #e1e4e8 !important ;
    padding: 16px !important ;
    overflow: auto !important ;
} */

/* General styling */
pre { line-height: 125% !important ; }
td.linenos .normal { color: inherit !important ; background-color: transparent !important ; padding-left: 5px !important ; padding-right: 5px !important ; }
span.linenos { color: inherit !important ; background-color: transparent !important ; padding-left: 5px !important ; padding-right: 5px !important ; }
td.linenos .special { color: #000000 !important ; background-color: #ffffc0 !important ; padding-left: 5px !important ; padding-right: 5px !important ; }
span.linenos.special { color: #000000 !important ; background-color: #ffffc0 !important ; padding-left: 5px !important ; padding-right: 5px !important ; }

/* General styling for the entire code block */
pre.highlight code {
    color: #24292f; /* Default text color */
    background-color: #ffffff;
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
    font-size: 100%;
    line-height: 125%;
  }
  
  /* Specific syntax highlighting for different code elements */
  pre.highlight code .c { color: #6e7781; } /* Comment */
  pre.highlight code .err { color: #cf222e; } /* Error */
  pre.highlight code .k { color: #cf222e !important; } /* Keyword */
  pre.highlight code .l { color: #953800; } /* Literal */
  pre.highlight code .n { color: #8250df !important; } /* Name */
  pre.highlight code .o { color: #116329; } /* Operator */
  pre.highlight code .p { color: #24292f; } /* Punctuation */
  pre.highlight code .ch { color: #6e7781; } /* Comment.Hashbang */
  pre.highlight code .cm { color: #6e7781; } /* Comment.Multiline */
  pre.highlight code .cp { color: #6e7781; } /* Comment.Preproc */
  pre.highlight code .cpf { color: #6e7781; } /* Comment.PreprocFile */
  pre.highlight code .c1 { color: #6e7781; } /* Comment.Single */
  pre.highlight code .cs { color: #6e7781; } /* Comment.Special */
  pre.highlight code .gd { color: #0550ae; } /* Generic.Deleted */
  pre.highlight code .ge { font-style: italic; } /* Generic.Emph */
  pre.highlight code .gr { color: #cf222e; } /* Generic.Error */
  pre.highlight code .gh { color: #0550ae; } /* Generic.Heading */
  pre.highlight code .gs { font-weight: bold; } /* Generic.Strong */
  pre.highlight code .gu { color: #0550ae; } /* Generic.Subheading */
  pre.highlight code .kc { color: #0550ae; } /* Keyword.Constant */
  pre.highlight code .kd { color: #cf222e; } /* Keyword.Declaration */
  pre.highlight code .kn { color: #cf222e; } /* Keyword.Namespace */
  pre.highlight code .kp { color: #cf222e; } /* Keyword.Pseudo */
  pre.highlight code .kr { color: #cf222e; } /* Keyword.Reserved */
  pre.highlight code .kt { color: #cf222e; } /* Keyword.Type */
  pre.highlight code .ld { color: #953800; } /* Literal.Date */
  pre.highlight code .m { color: #953800; } /* Literal.Number */
  pre.highlight code .s { color: #0550ae; } /* Literal.String */
  pre.highlight code .na { color: #953800; } /* Name.Attribute */
  pre.highlight code .nb { color: #953800; } /* Name.Builtin */
  pre.highlight code .nc { color: #0550ae; } /* Name.Class */
  pre.highlight code .no { color: #0550ae; } /* Name.Constant */
  pre.highlight code .nd { color: #953800; } /* Name.Decorator */
  pre.highlight code .ni { color: #116329; } /* Name.Entity */
  pre.highlight code .ne { color: #8250df; } /* Name.Exception */
  pre.highlight code .nf { color: #0550ae; } /* Name.Function */
  pre.highlight code .nl { color: #953800; } /* Name.Label */
  pre.highlight code .nn { color: #24292f; } /* Name.Namespace */
  pre.highlight code .nx { color: #8250df; } /* Name.Other */
  pre.highlight code .py { color: #0550ae; } /* Name.Property */
  pre.highlight code .nt { color: #116329; } /* Name.Tag */
  pre.highlight code .nv { color: #953800; } /* Name.Variable */
  pre.highlight code .ow { color: #8250df; } /* Operator.Word */
  pre.highlight code .pm { color: #24292f; } /* Punctuation.Marker */
  pre.highlight code .w { color: #24292f; } /* Text.Whitespace */
  pre.highlight code .mb { color: #953800; } /* Literal.Number.Bin */
  pre.highlight code .mf { color: #953800; } /* Literal.Number.Float */
  pre.highlight code .mh { color: #953800; } /* Literal.Number.Hex */
  pre.highlight code .mi { color: #953800; } /* Literal.Number.Integer */
  pre.highlight code .mo { color: #953800; } /* Literal.Number.Oct */
  pre.highlight code .sa { color: #0550ae; } /* Literal.String.Affix */
  pre.highlight code .sb { color: #0550ae; } /* Literal.String.Backtick */
  pre.highlight code .sc { color: #0550ae; } /* Literal.String.Char */
  pre.highlight code .dl { color: #0550ae; } /* Literal.String.Delimiter */
  pre.highlight code .sd { color: #0550ae; } /* Literal.String.Doc */
  pre.highlight code .s2 { color: #0550ae; } /* Literal.String.Double */
  pre.highlight code .se { color: #0550ae; } /* Literal.String.Escape */
  pre.highlight code .sh { color: #0550ae; } /* Literal.String.Heredoc */
  pre.highlight code .si { color: #0550ae; } /* Literal.String.Interpol */
  pre.highlight code .sx { color: #0550ae; } /* Literal.String.Other */
  pre.highlight code .sr { color: #0550ae; } /* Literal.String.Regex */
  pre.highlight code .s1 { color: #0550ae; } /* Literal.String.Single */
  pre.highlight code .ss { color: #0550ae; } /* Literal.String.Symbol */
  pre.highlight code .bp { color: #953800; } /* Name.Builtin.Pseudo */
  pre.highlight code .fm { color: #0550ae; } /* Name.Function.Magic */
  pre.highlight code .vc { color: #953800; } /* Name.Variable.Class */
  pre.highlight code .vg { color: #953800; } /* Name.Variable.Global */
  pre.highlight code .vi { color: #953800; } /* Name.Variable.Instance */
  pre.highlight code .vm { color: #953800; } /* Name.Variable.Magic */
  pre.highlight code .il { color: #953800; } /* Literal.Number.Integer.Long */
  