figure.caption {
  text-align: left;
}

image.caption {
  text-align: left;
}
  

div.eksempel {
  border-left-color: rgba(241, 130, 86, 0.509);
}
div.eksempel .admonition-title {
  background-color: rgba(241, 130, 86, 0.509);
}
div.eksempel .admonition-title:before {
  color: rgba(241, 130, 86, 0.509);
}


