figure.caption {
  text-align: left;
}

image.caption {
  text-align: left;
}
  

div.eksempel {
  border-left-color: rgba(255, 179, 49, 0.6);
}
div.eksempel .admonition-title {
  background-color: rgba(255, 179, 49, 0.6);
}
div.eksempel .admonition-title:before {
  color: rgb(191, 82, 23);
  /* content: '\f19d'; */
}


