.figure .caption {
  text-align: left;
}

.image .caption {
  text-align: left;
}

/* Stil for teoriblokker */
div.theory {
  border-left-color: rgb(0, 80, 171);
  background-color: rgba(0, 80, 171, 0.1);
}

/* Style for the title of the custom admonition */
div.theory > .admonition-title {
  background-color: rgba(0, 80, 160, 0.1);
  position: relative; /* Ensure relative positioning */
}

/* Add custom symbol after the title and replace default symbol */
div.theory > .admonition-title::after {
  content: "🧠";
}
  

/* Stil for eksempler */
div.example {
  border-left-color: rgba(241, 130, 86, 0.6);
}

div.example > .admonition-title {
  background-color: rgba(241, 130, 86, 0.3) !important;
}

div.example > .admonition-title:before {
  color: rgba(241, 130, 86, 0.3);
}

div.example > .admonition-title::after {
  content: "🔎";
}


/* Stil for løsningsforslag */
div.solution {
  border-left-color: rgba(171, 86, 241, 0.6);
}

div.solution > .admonition-title {
  background-color: rgba(171, 86, 241, 0);
}

div.solution > .admonition-title::before {
  color: rgba(171, 86, 241, 0);
}

div.solution > .admonition-title::after {
  content: "💡";
}


/* Stil for oppgaver */
div.problem {
  border-left-color: rgba(0, 195, 255, 0.6);
}

div.problem > .admonition-title {
  background-color: rgba(0, 195, 255, 0.2);
}

div.problem > .admonition-title::before {
  color: rgba(0, 195, 255, 0.2);
}

div.problem > .admonition-title::after {
  content: "🔥";
}


/* Stil for underveisoppgaver */

div.check {
  border-left-color: rgba(0, 35, 190, 0.6);
}

div.check > .admonition-title {
  background-color: rgba(0, 35, 190, 0.2);
}

div.check > .admonition-title::after {
  content: "✍🏼";
}

/* Stil for diskusjonsspørsmål */
div.discussion {
  border-left-color: rgba(15, 186, 3, 0.6);
}

div.discussion > .admonition-title {
  background-color: rgba(15, 186, 3, 0.2);
}

div.discussion > .admonition-title::before {
  color: rgba(15, 186, 3, 0.2);
}

div.discussion > .admonition-title::after {
  content: "💬";
}

/* Custom style for solution admonition */
div.solution {
  border-left-color: rgba(171, 86, 241, 0.6);
}

/* Ensure direct child targeting and apply background color */
div.solution > .admonition-title {
  background-color: rgba(171, 86, 241, 0) !important;
  position: relative; /* Ensure positioning is correct */
}



/* Stil for oppgaver med programmering */
div.progging {
  border-left-color: rgba(0, 195, 255, 0.6);
}

div.progging > .admonition-title {
  background-color: rgba(0, 195, 255, 0.2);
}

div.progging > .admonition-title::before {
  color: rgba(0, 195, 255, 0.2);
}

div.progging > .admonition-title::after {
  content: "💻";
}


/* Stil for oppgaver med programmering */
div.hints {
  border-left-color: rgba(0, 195, 255, 0.6);
}

div.hints > .admonition-title {
  background-color: rgba(0, 195, 255, 0);
}

div.hints > .admonition-title::before {
  color: rgba(0, 195, 255, 0);
}

div.hints > .admonition-title::after {
  content: "📜";
}


/* To avoid clipping of equations. Adds vertical whitespace for the display of equations. */
/* _static/custom.css */
.MathJax_Display {
  margin: 1em 0;
  overflow: visible;
}
.MathJax {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
